$colors: (
    lucid-green: #3F835B,
    jean: #464E66,
    highlighter: #E6AC52,
    super-light-gray: #E6E9EA,
    off-white: #F5F5F5,
    candy-red: #B42F2B,
    sole: #A17448
);
    
@function color($color-name) {
    @return map-get($colors, $color-name);
}

$queries: (
    phone: "only screen and (max-width : 425px)",
    tablet: "only screen and (max-width : 768px)",
    computer: "only screen and (max-width : 1024px)",
    4k:  "only screen and (min-width : 1024px)"
);

@function responsive($query-size) {
    @return map-get($queries, $query-size);
}

h2 {
    margin: 0 auto !important; 
    text-align: center;
}
.project-grid {
    margin: 0;
    width: 50vw;
    padding: 1.7em;
    margin-left: 350px;
    @media #{responsive(tablet)} {
        margin: 0%;
        display: grid;
        padding: .5rem;
        width: 90%;
    }
}

.project-item img {
    width: 100%;
    @media #{responsive(tablet)} {
        width: 100%;
    }
}

.project-item a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 1.3rem 0;
    padding: 3px;
    color: color(off-white);
    font-weight: 500;
    border: 2px solid color(off-white);
    width: 100px;
    border-radius: 3px;
    @media #{responsive(tablet)} {
        width: 100%;
    }
}
.project-item {
    margin: 0;
    text-align: center;
}
.project-item a:hover {
    color: color(jean);
    background: color(off-white);
    transition: 300ms;
}
@mixin animatedStyle() {
    border-radius: 3px;
    border-left: 3px solid color(candy-red);
    padding: 2em;
}
@mixin animatedStyle2() {
    border-radius: 3px;
    border-right: 3px solid color(candy-red);
    border-top: 3px solid color(candy-red);
    border-bottom: 3px solid color(candy-red);
    padding: 2em;
}
.animated:nth-child(odd) {
    @include animatedStyle();
}
.animated:nth-child(even) {
    @include animatedStyle2();
}