$colors: (
    lucid-green: #3F835B,
    jean: #464E66,
    highlighter: #E6AC52,
    super-light-gray: #E6E9EA,
    off-white: #F5F5F5,
    candy-red: #B42F2B,
    sole: #A17448
);
    
@function color($color-name) {
    @return map-get($colors, $color-name);
}

$queries: (
    phone: "only screen and (max-width : 425px)",
    tablet: "only screen and (max-width : 768px)",
    computer: "only screen and (max-width : 1024px)",
    4k:  "only screen and (min-width : 1024px)"
);

@function responsive($query-size) {
    @return map-get($queries, $query-size);
}
body {
    background-color: color(off-white);
    color: color(jean);
    font-family: Avenir, sans-serif;
    margin: 0;
}

.jumbotron {
    margin: 0;
    padding: 0;
    height: 84vh;
    text-align: center;
        #bg1 {
            clip-path: polygon(86% 58%, 0% 100%, 100% 100%);
            background-color: color(candy-red);
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            top: 0;
            display: block;
        }

        #bg2{
            clip-path: polygon(91% 35%, 0% 100%, 100% 100%);
            background-color: color(highlighter);
            width: 100%;
            height: 100%;
            z-index: -2;
            position: absolute;
            top: 0;
            display: block;
        }
        overflow: hidden;
        @media #{responsive(tablet)} {
            height: 83vh;
        }
}
.jumbo-text{
    float: right;
    padding: 0 2em;
    text-align: right;
        .lighter-text {
            font-weight: 200;
        }
}
.social-links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 3px;
    box-sizing: border-box;
    margin-top: 5vh;
    font-size: 1.3em;
    width: 375px;
    @media #{responsive(tablet)} {
        max-width: 100%;
    }
}
.cta {
    position: absolute;
    bottom: 5vh; left: 0; right: 0;
    z-index: -1;
    color: color(off-white);
        @media #{responsive(tablet)} {
            color: color(off-white);
            font-weight: 600;
            bottom: 0;
            text-shadow: 0 4px 5px color(jean);
        }
        @media #{responsive(phone)} {
            display: none;
        }
}
.social-links a {
    color: color(jean);
    text-decoration: none;
    padding-top: 1.5rem;
    border-right: 1px solid color(jean);
    border-top: 1px solid color(jean);
    border-radius: 3px;
    font-weight: 500;
    @media #{responsive(tablet)} {
        background-color: color(lucid-green);
        color: color(off-white);
        opacity: 0.975;
    }
}

.social-links a:hover {
    background-color: color(jean);
    color: color(off-white);
    transition: 300ms;
}

.project-container {
    background: color(highlighter);
    padding: 1.7em 0;
    border-radius: 3px;
    color: color(off-white);
    display: grid;
        @media #{responsive(tablet)} {
            max-width: 100%;
        }
}
.fa-github:hover, .fa-linkedin:hover, .fa-file:hover {
    color: color(off-white);
    transition: 300ms;
}

.fa-chevron-down {
    text-shadow: 0 8px 5px color(jean);
    animation: 3s switchColors infinite;
    animation-direction: alternate;
}

@keyframes switchColors {
    from {color:color(off-white);}
    to {color: color(highlighter);}
}